<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <bean id="centralItemWareHouse" class="org.iushu.dubbo.provider.CenterItemWarehouse"/>
    <bean id="applyItemWareHouse" class="org.iushu.dubbo.provider.ApplyItemWarehouse"/>

    <dubbo:application name="ItemWareHouseAccessService"/>

    <dubbo:protocol name="dubbo" port="20880"/>
    <!--<dubbo:protocol name="hessian" port="8080"/>-->
    <dubbo:registry address="zookeeper://localhost:2181"/>

    <dubbo:service interface="org.iushu.dubbo.provider.ItemWarehouse" ref="centralItemWareHouse" version="1.0.0" group="distributor"
       timeout="3000" retries="2" loadbalance="random"/>

    <dubbo:service interface="org.iushu.dubbo.provider.ItemWarehouse" ref="applyItemWareHouse" version="1.0.0" group="applicant"
       timeout="3000" retries="2" loadbalance="random">
        <dubbo:method name="applyItems">
            <dubbo:argument index="1" callback="true"/>
        </dubbo:method>
    </dubbo:service>

    <!-- multi-protocol
    <dubbo:service .. protocol="dubbo,hessian"/>
    -->

    <!-- multiple registry center
    <dubbo:registry id="A" address=".."/>
    <dubbo:registry id="B" address=".."/>
    -->

    <!-- service on multi-registry center
    <dubbo:service .. registry="A,B"/>
    -->

    <!-- multi-service on multi-registry center
    <dubbo:service .. registry="A"/>
    <dubbo:service .. registry="B"/>
    -->

</beans>