<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="location" value="classpath:org/iushu/context/jdbc.properties"/>
    </bean>

    <bean class="org.iushu.context.beans.ConnectionMetadata">
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!--<context:annotation-config/>-->
    <!--<context:component-scan base-package="org.iushu.context"/>-->
    <context:component-scan base-package="org.iushu.context.annotation"/>

    <!-- @Autowired vs @Resource -->
    <bean id="mph" class="org.iushu.context.beans.Microphone"/>
    <bean id="microphone" class="org.iushu.context.beans.Microphone"/>
    <bean id="sr" class="org.iushu.context.beans.ScreenRemote"/>
    <!--<bean id="screenRemote" class="org.iushu.context.beans.ScreenRemote"/>-->
    <bean class="org.iushu.context.beans.Conductor"/>

</beans>