<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="aircraft" class="org.iushu.aop.beans.Aircraft"/>
    <bean id="spaceship" class="org.iushu.aop.beans.Spaceship"/>

    <bean id="aspect" class="org.iushu.aop.advice.FocusAOPAspect"/>
    <bean id="antAsp" class="org.iushu.aop.advice.FocusAnnotationAopAspect"/>

    <!-- XML-base -->
    <aop:config>
        <aop:pointcut id="pointcut" expression="execution(* org.iushu.aop.beans.*.*())"/>
        <aop:aspect id="aspect" ref="aspect">
            <aop:before method="before" pointcut-ref="pointcut"/>
            <aop:after method="after" pointcut-ref="pointcut"/>
        </aop:aspect>
    </aop:config>

    <!-- auto scan and proxy the class with @Aspect -->
    <aop:aspectj-autoproxy/>

    <!-- TargetSource -->
    <bean id="lorry" class="org.iushu.aop.beans.Lorry"/>
    <bean id="train" class="org.iushu.aop.beans.Train"/>
    <bean id="hotSwappableTargetSource" class="org.springframework.aop.target.HotSwappableTargetSource">
        <constructor-arg ref="lorry"/>
    </bean>
    <bean class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="targetSource" ref="hotSwappableTargetSource"/>
    </bean>

</beans>